.MuiFilledInput-root {
  background-color: rgba(0, 0, 0, -0.9);
  border: 1px solid;
  border-radius: 2px;
}

.choice_title,
.borrower_information {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  &::before {
    margin-left: -47px;
    position: absolute;
    content: '01';
    height: 30px;
    width: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #07b1fd;
  }
}
.borrower_information {
  &::before {
    content: '02';
  }
}
.trusted_persons {
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}
span .MuiSlider-rail {
  height: 6px;
  background: #c4c4c4;
  border-radius: 8px;
}

span .MuiSlider-track {
  height: 6px;
  background: linear-gradient(270deg, #07b1fd 0%, #bceaff 72.4%);
  border-radius: 8px;
}
span .MuiSlider-thumb {
  width: 16px;
  height: 16px;
  color: #ffffff;
  filter: drop-shadow(-1px 2px 5px rgba(0, 0, 0, 0.31));
}

.car_cost {
  font-size: 1.125rem;
  color: #8d8d8d;
  line-height: 160%;
}
.car_sum {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 160%;
  color: #07b1fd;
  line-height: 160%;
}
.car_name {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 22px;
  color: #464646;
}
.selected {
  background-color: red;
}

.selected.clicked {
  background-color: green;
  .clicked {
    color: #07b1fd;
  }
}

.price_blue {
  color: #07b1fd;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38px;
}
.price_black {
  font-size: 1.125rem;
  line-height: 29px;
  font-weight: 400;
  color: #949494;
}
.month_blue {
  color: #07b1fd;
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: 700;
}
.month_black {
  color: #464646;
  font-size: 0.875rem;
  line-height: 24px;
  font-weight: 400;
}
